#boxmenu {
    width: 100%;
    height: 100px;
    background-color: rgb(1, 150, 177);
    box-shadow: 0px 10px #e69500;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    /* Remove margens indesejadas */
    padding: 0;
    /* Remove preenchimento */
  
  }
  
  #boxmenu img {
    position: absolute;
    width: 50px;
    margin-left: 10px;
    margin-top: 7px;
    display: inline-block;
    vertical-align: middle;
    z-index: 1100;
  }
  
  #boxmenu h2 {
    position: absolute;
    font-family: Arial;
    font-size: 25px;
    font-style: normal;
    margin-left: 150px;
    /* Ajuste a margem esquerda para 70px */
    margin-top: 35px;
    display: inline-block;
    vertical-align: middle;
  
  }

  

.certificate-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    transform: translateX(110%);
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 1.5rem;
    color: #007acc;
    margin-bottom: 1rem;
}

form {
    margin-bottom: 1rem;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffae00;
    border-radius: 5px;
    background-color: #eef3f8;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}

button {
    background-color: #007acc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #005ea8;
}

#certificadoMensagem {
    color: #4caf50;
    margin-top: 1rem;
}

#nomeCompletoSection {
    margin-top: 1rem;
}

#nomeCompleto {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccd4da;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
}
