a {
  transition: 0.3s;
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;

}


/* Estilos das colunas */
.col-md-4 {
  flex: 0 0 32%;
  max-width: 32%;
  margin-bottom: 30px;
}

.card {
  min-height: 490px;
  min-width: 325px;
  overflow: hidden;
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.15);
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: auto !important;
}
/* Conteúdo do corpo do cartão */
.card-body {
  padding: 20px;
  color: #333;
}
.card-body h4,
.card-body h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 10px;
}
/* Estilo do parágrafo de descrição */
.card-body p {
  font-size: 1rem;
  color: #666;
  flex-grow: 1;
}
/* Espaço adicional entre os grupos de conteúdo */
.gap {
  height: 40px;
}

.labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
}
.labels > div {
  width: 150px;
  position: absolute;
}
.labels > div.label-new {
  left: -40px;
  top: 20px;
  transform: rotate(-45deg);
}
.labels > div.label-sale {
  right: -40px;
  top: 20px;
  transform: rotate(45deg);
}

.btn-default {
  background-color: #F04F26;
  color: #FFF;
  border-color: #F04F26;
  padding: 10px 10px 10px 1px;
  
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #FDB913;
  color: #FFF;
  border-color: #FDB913;
}

.preco-curso {
  color: #F04F26;
}

.avaliacao-curso {
  color: #F04F26;
}

.bg-custom-1 {
  background-color: #F04F26;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.main-page {
  margin-top: 1rem;
}
.button-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os botões */
}

.button-container .btn {
  flex-grow: 1; /* Faz o botão "Assistir aula" ocupar o máximo de espaço possível */
}

.favorite-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffcc00; /* Cor do botão favorito */
  outline: none;
}

.favorite-button:hover {
  color: #ff9900; /* Cor ao passar o mouse */
  outline: none;
}
.favorite-button:focus{
  outline: none;
}
/* Configurações de animação e visibilidade */
.mix {
  transition: opacity 0.3s ease, transform 0.3s ease; /* Suavidade na transição */
  opacity: 1;
  visibility: visible;
}

.mix-hidden {
  opacity: 0; /* Deixa o item invisível */
  visibility: hidden; /* Evita a interatividade com o item */
  pointer-events: none; /* Impede cliques ou focos */
  transform: scale(0.8); /* Efeito de zoom ao sair */
}