.carousel-item img {
    height: 750px; /* ajuste o tamanho da imagem */
    object-fit: cover; /* ajuste a imagem para cobrir o espaço */
    border-radius: 1px; /* adicione um efeito de borda arredondada */
    filter: brightness(0.5);
  }

  .dropdown-item[aria-disabled="true"] {
    cursor: pointer;
  }
  .carousel-item h5{
    font-size: 70px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
  }
  .carousel-item p{
    font-size: 30px;
    color: #fcac17;
  }
  .dropdown-menu {
  top: 100%;
  transform: translateX(-50%); /* Resete a transformação */
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.col:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais escura */
  transform: translateY(-2px); /* Eleva o botão ligeiramente */
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  
}
.orange-gap {
  background-color: orange;
  height: 10px; /* ajuste a altura conforme necessário */
  margin-top: -20px;
}
#carouselExampleCaptions {
  margin-top: -5px; /* ajuste conforme necessário */
  background-color: orange;
}