/* Garante que box-sizing é border-box para todos os elementos */
* {
    box-sizing: border-box;
  }
  
  /* Estilo para #boxmenu */
  #boxmenu {
    width: 100%;
    height: 100px;
    background-color: rgb(1, 150, 177);
    position: relative;
    margin: 0; /* Remove margens indesejadas */
    padding: 0; /* Remove preenchimento */
  }
  
  #boxmenu img {
    position: absolute;
    width: 50px;
    margin-left: 10px;
    margin-top: 7px;
    display: inline-block;
    vertical-align: middle;
    z-index: 1100;
  }
  
  #boxmenu h2 {
    position: absolute;
    font-family: Arial;
    font-size: 25px;
    margin-left: 70px; /* Ajuste a margem esquerda */
    margin-top: 35px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 2%;
  }
  
  /* Estilo para o corpo */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Evita scroll horizontal indesejado */
  }
  
  /* Estilo para a sidebar */
  #sidebar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #5ca8b6cc;
    color: white;
    padding-top: 20px;
    transition: transform 0.3s ease; /* Transição suave */
    transform: translateX(-250px); /* Esconde a sidebar inicialmente */
  }
  
  #sidebar.active {
    transform: translateX(0); /* Mostra a sidebar */
  }
  
  .sidebar ul {
    margin-top: 50px;
    list-style-type: none;
    padding: 2px;
  }
  
  .sidebar h2 {
    margin-left: 20px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #00708b;
  }
  
  #linha {
    margin-top: 10px;
    position: absolute;
    background-color: #e69500;
    width: 250px;
    height: 10px;
    z-index: 1100;
  }
  
  /* Estilo para o botão de menu toggle */
  #menu-toggle {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  /* Estilo para o conteúdo principal */
  #content {
    margin-left: 0;
    transition: margin-left 0.3s ease; /* Transição suave do conteúdo */
    padding: 0;
  }
  
  #content.shifted {
    margin-left: 250px; /* Empurra o conteúdo para a direita quando a sidebar está ativa */
  }
  
  /* Estilo para a lista de itens */
  .list-group {
    width: 100%;
    display: block;
  }
  
  .list-group-item {
    border-radius: 0;  /* Remove bordas arredondadas se quiser que o conteúdo encoste nas laterais */
    margin: 0;
    display: list-item;
  }
  
  /* Estilo para o container dos vídeos */
  #Container {
    width: 100%;
    margin: 0;
    margin-top: 2%;    /* Remove margens */
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: justify;
  }
  
  /* Estilo para o overlay */
  .overlay {
    display: none; /* O overlay é inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  /* Conteúdo dentro do overlay */
  .overlay-content {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 1280px; /* Ajuste a largura máxima para vídeos grandes */
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  .overlay-content video {
    flex: 1;
  }
  .overlay-content div {
  flex: 1;
  margin-left: 20px;
}
  
  /* Botão de fechar */
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
  }
  
  /* Estilo para vídeos dentro do overlay */
  .overlay video {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Espaçamento superior para melhorar o layout */
  }
  
  textarea#videoNotes {
    max-width: 100%;
    width: 100%;
    max-width: 500px; /* Ajusta a largura máxima do textarea */
    margin-top: 10px; /* Espaçamento superior para melhorar o layout */
  }
  